main {
    padding: 1em 0;
}

.background{
    background: url("../images/plans-background.jpg") center/cover;
    filter: blur(3px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.plan__container {
    background-color: #21211b;
    border: #0e4f1f 4px solid;
    margin: 1em 0;
    padding: 2em;
    border-left: none;
    width: 80%;
    position: relative;
    top: 3rem;
}

.plan__container:hover, .plan__container:active {
    border-color: coral;
}

.plan__container a {
    text-decoration: none;
    display: block;
    color: black;
}

.plan__title {
    color: black;
    text-decoration: none;
    list-style: none;
}

.plan__badge{
    position: absolute;
    color: white;
    background-color: #ff1b68;
    font-size: 1rem;
    padding: 1rem;
    right: 0;
    margin: 1.4rem;
    top: 0;
}

.plan__highlighted {
    color: white;
}

.plan__subtitle {
    color: #858585;
}

.plan__description {
    background-color: white;
    padding: 1.3em 1em;
    border: #348048 2px solid;
    color: #0d561e;
    font-size: 1.2rem;
}

.clearfix {
    clear: both;
}

#plus {
    background-color: #c8f0d1;
}

#free {
    background-color: #e2f3e6;
    border-left: #0e4f1f 4px solid;
    border-right: none;
    float: right;
}

#free:hover, #free:active {
    border-left-color: coral;
}

#premium {
    background-color: #0d561e;
}


